.first-panel {
    margin: 1% auto 0;
    width: 95%;
    text-align: center;
}

.description-and-users {
    /* display: inline-block; */
    margin: 1% auto 0;
    width: 95%;
}
.usersPanel {
    float: left;
    clear: both;
}
.issue-description {
    /* display: inline-block; */
}