/* StartPlanning */
.startPlanning {
    display: block;
    position: relative;
    height: 90vh;
  }
  
 .startPlanning::after {
    content: "";
    background: url("../images/pocker-image.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  /* H */
.startPlanning h1, h3 {
    display: flex;
    justify-content: center;
    color: #545457;
}
 /* Button */
 .start-button button {
   
 }