.inputUserName button {
	margin-top: 1.5%;

}
.inputUserName {
	display: block;
    position: relative;
	margin: 8% 30%;
	padding: 2% 2% 2% 8%;
}

.inputUserName::after {
	content: "";
	background-color: rgb(145, 147, 148);
	opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
	z-index: -1; 
	/* border-radius: 15%; */
}
.content {
    display: block;
    position: relative;
    height: 91vh;
}

.content::after {
	content: "";
    background: url("../images/pocker-image.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
	z-index: -1; 
}

h2 {
	display: flex;
	justify-content: center;
	color: #545457;
}


