.votingpanel{
    width: 230px;
	margin: 2% auto;
	padding: 2%;

    height: 160px;
    border: 1px solid rgb(183, 255, 155);
    background: rgb(255, 255, 255);
    border-radius: 5px;


}

.button{
    border-radius: 5px;
    background: rgb(16, 110, 252);
    color: white;

}

.result-button {
    border-radius: 5px;
    background: rgb(55, 134, 253);
    color: white;
    width: 100px;
    height: 30px;
}

.clean-button {
    border-radius: 5px;
    background: rgb(55, 134, 253);
    color: white;
    width: 100px;
    height: 30px;
}